body {
    color: #C0C0C0;
    background-color: #080808;

}

#content {
    /*max-width : 5in;*/
    background-color: #383838;
}

#header img {
    max-width : 100%;
    height : 100%;
    display: block;
    margin: auto;
}

.left, .right, .center {
    float: left;
    width: 33%;
    color: white;
    padding: 10px;
    height: auto;
    text-align: center;
}


/* Use a media query to add a breakpoint at 800px: */
/*@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; 
  }
}
*/

.column {
    float: left;
}

.cmd {
    float : left;
    clear : both;
}

.menu {
    width : 100%;
    float : right;
    clear : left;
}

.left, .right {
    width: 25%;
    max-width : 2in;
    background-color : #181818;
}

.center {
    width: 50%;
    max-width : 300em;
}

.container:after {
    clear: both;
}

.description {
    text-align: left;
}

table.data {
    margin-left: auto;
    margin-right: auto;
}

tbody>tr.info>:nth-child(1){
    text-align:right;
}

.data tbody>tr.info>:nth-child(3){
    text-align:left;
}

.data tbody>tr.info>:nth-child(2){
    width: 0.5em;
    border: 0px;
}

.config-text {
    width: 30em;
    max-width: 100%;
    height: 15em;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}


td.heading {
    text-align: center;
}
/*
#actions {
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; 
    background: #191818;
    overflow-y: auto;
}
*/


/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

.panic {
    padding: 20px;
    background-color: #feb900; /* Orange */
    color: black;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.content{
    display: inline-block;
    text-align: left;
}

.tabbed-content{
    text-align: left;
    margin : 5px 5px 5px 2em;
}

.centered-content {
    display: block;
    text-align: center;
}

#pattern-select {
    width : 100%;
    min-height : 20em;
    max-height : 100%;
}

#holiday-container {
    border : solid 1px white;
    width : 100%;
    display : block;
    border-radius : 3px;
    min-height : 2em;
}

#holiday-container p {
    margin : 1px;
    border : solid 1px #3BB9FF;
    padding : 1px;
    border-radius : 3px;
}

.black_overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}
.white_content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    max-width: 50em;
    padding: 16px;
    border-color: blue;
    border-style: solid;
    border-width: 16px 2px 2px;
    background-color: white;
    z-index: 1002;
    overflow: auto;
    color: black;
}

/*Set link colors*/

/* unvisited link */
a:link {
  color: #04FF00;
}

/* visited link */
a:visited {
  color: #F6FF00;
}

/* mouse over link */
a:hover {
  color: #3F52FD;
}

/* selected link */
a:active {
  color: #ea80fc;
} 

@media screen and (max-width: 100em) {
    .center {
        width: 100% !important;
        max-width : 100%;
    }

    .right {
        width: 0%;
    }

    .left {
        width: 100%;
        max-width : 100%;
    }

    .menu {
        width : auto;
        float : none;
        clear : none;
        display : inline-block;
    }

    .tabbed-content{
        margin-left : 0.5em;
    }
}

