<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A webpage to controle a LED rocket">
    <title>Night Knight Control - ADC</title>
    <meta http-equiv="refresh" content="5" >
    <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css">
</head>
<body>
    <div class="container">
        {% include menu.html %}
        <div id="content" class="center">
            <div id="header">
                <img class="header-img" src="{{ static_url("NK.png") }}" alt="Night Knight">
            </div>
            <div>
                <table class="data">
                {% for k,v in adc_dat.items() %}
                    <tr class="info"><td>{{k}}</td><td>=</td><td>{{f'{v[0]:.2f} {v[1]}'}}</td></tr>
                {% end %}
                </table>
            </div>
        </div>
    </div>
</body>
