<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A webpage to controle a LED rocket">
    <title>Night Knight Control - ADC</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css">
    <script src = "{{ static_url("jquery-3.6.0.min.js") }}"></script>
</head>
<body>
    <div class="container">
        {% include menu.html %}
        <div id="content" class="center">
            <div id="header">
                <img class="header-img" src="{{ static_url("NK.png") }}" alt="Night Knight">
            </div>
            <div>
                <table class="data">
                    <tr class="info"><td>Battery Current</td>  <td>=</td> <td class="result" id="Battery-Current"></td></tr>
                    <tr class="info"><td>Battery Power</td>    <td>=</td> <td class="result" id="Battery-Power"></td></tr>
                    <tr class="info"><td>Battery Voltage</td>  <td>=</td> <td class="result" id="Battery-Voltage"></td></tr>
                    <tr class="info"><td>LED Current</td>      <td>=</td> <td class="result" id="LED-Current"></td></tr>
                    <tr class="info"><td>LED Power</td>        <td>=</td> <td class="result" id="LED-Power"></td></tr>
                    <tr class="info"><td>LED Voltage</td>      <td>=</td> <td class="result" id="LED-Voltage"></td></tr>
                    <tr class="info"><td>MSP Voltage</td>      <td>=</td> <td class="result" id="MSP-Voltage"></td></tr>
                    <tr class="info"><td>Regulator Temp</td>   <td>=</td> <td class="result" id="Regulator-Temp"></td></tr>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        setInterval(function() {
            $.getJSON("/status",function(data){
                if( !data.error )
                {
                    for (val in data) {
                        //ID for destination, replace space with dash
                        id = val.replaceAll(' ', '-');

                        elm = document.getElementById(id);
                        if( elm!=null ){
                            if(data[val][1] == 'C'){
                                num_str = data[val][0].toFixed(2);
                            }
                            else
                            {
                                num_str = data[val][0].toFixed(1);
                            }
                            
                            elm.style=""
                            elm.innerHTML = num_str + '&nbsp; ' + data[val][1];
                        }
                    }

                    elm = document.getElementById('Battery-Power');
                    elm.style="";
                    elm.innerHTML = (data['Battery Voltage'][0]*data['Battery Current'][0]).toFixed(1) + '&nbsp; W';

                    elm = document.getElementById('LED-Power');
                    elm.style="";
                    elm.innerHTML = (data['LED Voltage'][0]*data['LED Current'][0]).toFixed(1) + '&nbsp; W';

                }
                else
                {
                    results = document.getElementsByClassName("result");
                    for (let i = 0; i < results.length; i++) {
                        results.item(i).innerHTML = "N/A";
                        results.item(i).style="color:red;";
                    }
                }

            });
        }, 1000);
    </script>
</body>
