<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A webpage to controle a LED rocket">
    <title>Night Knight Control - Brightness</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css">
</head>
<body>
    <div class="container">
        {% include menu.html %}
        <div id="content" class="center">
            <div id="header">
                <img class="header-img" src="{{ static_url("NK.png") }}" alt="Night Knight">
            </div>
            <div>
                <form action="/flight_pattern.html" method="POST">
                    <label for="pattern">Flight Pattern :</label>
                    <select name="pattern" id="pat">
                        {% for p in patterns %}
                            <option value="{{p}}"
                                    {% if p==pat %}
                                    selected=True
                                    {% end %}
                                    >{{p}}</option>
                        {% end %}
                    </select><br><br>
                    
                    <input type="submit" value="Set Pattern"> <br><br>
                </form>
                <form action="/simulate" method="POST">
                    <input type="submit" value="Simulate"> <br><br>
                </form>
            </div>
        </div>
    </div>
</body>
