<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A webpage to controle a LED rocket">
    <title>Night Knight Control - Brightness</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css">
</head>
<body>
    <div class="container">
        {% include menu.html %}
        <div id="content" class="center">
            <div id="header">
                <img class="header-img" src="{{ static_url("NK.png") }}" alt="Night Knight">
            </div>
            {% if r_error is not None %}
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        Error reading settings : {{ r_error }}
                    </div> 
            {% end %}
            {% if w_error is not None %}
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        Error writing settings : {{ w_error }}
                    </div> 
            {% end %}
            <div>
                <form action="/flight_pattern.html" method="POST">
                    <p>
                    <label for="pat">Flight Pattern :</label>
                    <select name="pattern" id="pat"
                        title="Set of LED patterns to use during the various phases of flight" required>
                        {% for p in patterns %}
                            <option value="{{p}}"
                                    {% if p==pat %}
                                    selected=True
                                    {% end %}
                                    >{{p}}</option>
                        {% end %}
                    </select>
                    </p>
                    
                    <p>
                        <input type="submit" value="Set Pattern"> 
                    </p>
                </form>
                <form action="/altitude" method="POST">
                    <p>
                        <label for="alt">Expected Altitude :</label>
                        <input name="altitude" id="alt" type="number" value="{{altitude}}" style="width: 6.3em"
                               title="Expected altitude of the flight. Used by some patterns to break the flight into sections." required>
                        <label for="units">Units</label>
                        <select name="units" id="units"
                            title="Units for altitude. Values are stored in meters" required>
                            <option value="m" selected=True>m</option>
                            <option value="ft">ft</option>
                        </select>
                    </p>
                    <p>
                        <input type="submit" value="Set Altitude"> <br><br>
                    </p>
                </form>
                <form action="/simulate" method="POST">
                    <p>
                        <input type="submit" value="Simulate"
                                title="Run LED pattern on saved flight data"> 
                    </p>
                </form>
            </div>

        </div>
    </div>
</body>
