<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A webpage to controle a LED rocket">
    <title>Night Knight Control</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css">
</head>
<body>
    <div class="container">
        <div id="actions" class="left">
            {% for page in pages %}
            <div class="menu"><a href="{{page}}.html" class="cmd">{{page}}</a></div>
            {% end %}
        </div>
        <div id="content" class="center">
            <div id="header">
                <img class="header-img" src="{{ static_url("NK_picture.jpg") }}" alt="Night Knight rocket on the ground at the field.">
            </div>
            <div class="description">
                <h2>Overview</h2>
                <p>
                The main goal of this project is to put LEDs on all parts of a rocket and use flight data to control them.
                The rocket has 150 individually addressable RGB LEDs, 2 1~W white LEDs in the nosecone, and 3 1~W white LED's pointed at the parachute.
                The RGB LEDs are divided to 3 strips aligned with the fins, with 11 LEDs under each of the three polycarbonate fins.
                </p>
                <p>
                To deploy the parachute and track the flight, an AltusMetrum TeleMetrum is used.
                This has more features that is realistically needed, but it has the <q>companion</q> interface which is used to get flight data.
                </p>
                <p>
                To run the LEDs, a custom PCB with a MSP430F6779A microcontroller.
                The microcontroller takes data from the TeleMetrum companion interface and uses that to determine what color and brightness to set the LEDs.
                The microcontroller also takes commands over a serial interface to set settings and change the LEDs.
                When not flying, these commands are used, by this webpage, to use the rocket as a lamp.
                </p>


            </div>
        </div>
    </div>
</body>
