<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A webpage to controle a LED rocket">
    <title>Night Knight Control - Brightness</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css">
</head>
<body>
    <div class="container">
        {% include menu.html %}
        <div id="content" class="center">
            <div id="header">
                <img class="header-img" src="{{ static_url("NK.png") }}" alt="Night Knight">
            </div>
            <form action="/nosecone.html" method="POST">
                Nosecone : <br><br>
                <label for="mode">Pattern :</label>
                <select name="mode" id="mode">
                    {% for p in nc_patterns %}
                        <option value="{{p}}"
                                {% if p==info['NC_mode'] %}
                                selected=True
                                {% end %}
                                >{{p}}</option>
                    {% end %}
                </select><br><br>

                <label for="val1">Value 1 :</label>
                <input name="val1" type="number" value="{{info['NC_val1']}}"><br><br>

                <label for="val2">Value 2 :</label>
                <input name="val2" type="number" value="{{info['NC_val2']}}"><br><br>
                
                <label for="t1">Time 1 :</label>
                <input name="t1" type="number" value="{{info['NC_t1']}}"><br><br>

                <label for="t2">Time 2 :</label>
                <input name="t2" type="number" value="{{info['NC_t2']}}"><br><br>

                <input type="submit" value="Update Nosecone"><br><br>
            </form>
            <form action="/chute" method="POST">
                Parachute :<br><br>
                
                <label for="mode">Pattern :</label>
                <select name="mode" id="mode">
                    {% for p in chute_patterns %}
                        <option value="{{p}}"
                                {% if p==info['chute_mode'] %}
                                selected=True
                                {% end %}
                                >{{p}}</option>
                    {% end %}
                </select><br><br>
                    
                <label for="val1">Value 1 :</label>
                <input name="val1" type="number" value="{{info['chute_val1']}}"><br><br>

                <label for="val2">Value 2 :</label>
                <input name="val2" type="number" value="{{info['chute_val2']}}"><br><br>
                
                <label for="t1">Time 1 :</label>
                <input name="t1" type="number" value="{{info['chute_t1']}}"><br><br>

                <label for="t2">Time 2 :</label>
                <input name="t2" type="number" value="{{info['chute_t2']}}"><br><br>

                <input type="submit" value="Update Chute"><br><br>
            </form>
        </div>
    </div>
</body>
