<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A webpage to controle a LED rocket">
    <title>Night Knight Control - Brightness</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css">
</head>
<body>
    <div class="container">
        {% include menu.html %}
        <div id="content" class="center">
            <div id="header">
                <h1>
                    <img class="header-img" src="{{ static_url("NK.png") }}" alt="Night Knight">
                </h1>
            </div>
            {% if r_error is not None %}
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        Error reading status : {{ r_error }}
                    </div> 
            {% end %}
            {% if w_error is not None %}
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        Error setting status : {{ w_error }}
                    </div> 
            {% end %}
            <form action="/nosecone.html" method="POST">
                <h2>
                    Nosecone
                </h2>
                <p>
                    <label for="mode">Pattern :</label>
                    <select name="mode" id="mode"
                        title="Nosecone mode, changes how values and times are interpreted" required>
                        {% if nc_patterns %}
                            {% for p in nc_patterns %}
                                <option value="{{p}}"
                                        {% if p==info.get('NC_mode') %}
                                        selected=True
                                        {% end %}
                                        >{{p}}</option>
                            {% end %}
                        {% end %}
                    </select>
                </p>

                <p>
                    <label for="val1">Value 1 :</label>
                    <input name="val1" id="val1" type="number" value="{{info.get('NC_val1')}}"
                           title="First brightness value. Values range from 0 (zero brightness) to  4095 (maximum brightness).">
                </p>

                <p>
                    <label for="val2">Value 2 :</label>
                    <input name="val2" id="val2" type="number" value="{{info.get('NC_val2')}}"
                           title="Second brightness value. Values range from 0 (zero brightness) to  4095 (maximum brightness).">
                </p>
                
                <p>
                    <label for="t1">Time 1 :</label>
                    <input name="t1" id="t1" type="number" value="{{info.get('NC_t1')}}"
                           title="First time interval. I forget what units these are in, have fun!">
                </p>

                <p>
                    <label for="t2">Time 2 :</label>
                    <input name="t2" id="t2" type="number" value="{{info.get('NC_t2')}}"
                           title="Second time interval. I forget what units these are in, have fun!">
                </p>

                <p>
                    <input type="submit" value="Update Nosecone">
                </p>
            </form>
            <form action="/chute" method="POST">
                <h2>
                Parachute
                </h2>
                
                <p>
                    <label for="mode">Pattern :</label>
                    <select name="mode" id="mode"
                        title="Parachute light mode, changes how values and times are interpreted" required>
                        {% if chute_patterns %}
                            {% for p in chute_patterns %}
                                <option value="{{p}}"
                                        {% if p==info.get('chute_mode') %}
                                        selected=True
                                        {% end %}
                                        >{{p}}</option>
                            {% end %}
                        {% end %}
                    </select>
                </p>
                    
                <p>
                    <label for="val1">Value 1 :</label>
                    <input name="val1" id="val1" type="number" value="{{info.get('chute_val1')}}"
                           title="First brightness value. Values range from 0 (zero brightness) to  4095 (maximum brightness).">
                </p>

                <p>
                    <label for="val2">Value 2 :</label>
                    <input name="val2" id="val2" type="number" value="{{info.get('chute_val2')}}"
                           title="Second brightness value. Values range from 0 (zero brightness) to  4095 (maximum brightness).">
                </p>
                
                <p>
                    <label for="t1">Time 1 :</label>
                    <input name="t1" id="t1" type="number" value="{{info.get('chute_t1')}}"
                           title="First time interval. I forget what units these are in, have fun!">
                </p>

                <p>
                    <label for="t2">Time 2 :</label>
                    <input name="t2" id="t2" type="number" value="{{info.get('chute_t2')}}"
                           title="Second time interval. I forget what units these are in, have fun!">
                </p>

                <input type="submit" value="Update Chute">
            </form>
        </div>
    </div>
</body>
