<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A webpage to controle a LED rocket">
    <title>Night Knight Control - Brightness</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css">
</head>
<body>
    <div class="container">
        {% include menu.html %}
        <div id="content" class="center">
            <div id="header">
                <img class="header-img" src="{{ static_url("NK.png") }}" alt="Night Knight">
            </div>
            <div>
                <form action="/pattern.html" method="POST">
                    <p>
                        <label for="pat">Pattern :</label>
                        <select name="pattern" id="pat" title="LED pattern to use">
                            {% for p in patterns %}
                            <option value="{{p}}"
                                    {% if p==pat %}
                                    selected=True
                                    {% end %}
                                    >{{p}}</option>
                            {% end %}
                        </select>
                    </p>

                    <p>
                        <label for="setNC">Use nosecone for pattern </label>
                        <input name="setNC" type="checkbox" id="setNC" value="NC" title="if checked LED pattern will also set the nosecone"
                                {% if set_nc %}
                                    checked
                                {% end %}
                                >
                    </p>

                    <p>
                        <label for="colorpicker">Color : </label>
                        <input name="color" type="color" id="colorpicker" value="#{{bytearray(color).hex()}}" title="Color to use in pattern">
                    </p>
                    <p>
                        <label for="color_red">Red</label>
                        <input type="number" min="0" max="255" value="{{color[0]}}" id="color_red" style="width: 4.3em" title="Red component of color">
                        <label for="color_grn">Green</label>
                        <input type="number" min="0" max="255" value="{{color[1]}}" id="color_grn" style="width: 4.3em" title="Green component of color">
                        <label for="color_blue">Blue</label>
                        <input type="number" min="0" max="255" value="{{color[2]}}" id="color_blue" style="width: 4.3em" title="Blue component of color">
                    </p>

                    <p>
                        <label for="brightness">Brightness :</label>
                        <input name="brt" type="range" min="0" max="31" value="{{brightness}}" class="slider" id="brightness" title="Pattern brightness slider">
                        <output for="brightness" id="brightness_num" style="width: 6em;font-family: monospace;">
                    </p>

                    <p>
                        <label for="val">Modifier value :</label>
                        <input type="number" name="val" id="val" value="{{value}}" style="width: 4.3em" title="Value to adjust how the pattern opperates">
                    </p>

                    <p>
                        <label for="clist">Color List :</label>
                        <select name="clist" id="clist" title="Color list to use for pattern">
                            {% for l in clists %}
                            <option value="{{l}}"
                                    {% if l==currentlst %}
                                    selected=True
                                    {% end %}
                                    >{{l}}</option>
                            {% end %}
                        </select>
                    </p>
                    <input type="submit" value="Submit" title="Send pattern updates to rocket">
                </form>
                <form action="/nightlight" method="POST">
                    <input type="hidden" name="redirect" value="/pattern.html" title="used to redirect form back here"/> 
                    <p>
                        <label for='value'>Night Light mode </label>
                        <input type="submit" name='value' title="Turn {{ 'off' if nightlight else 'on' }} night light mode (only fins on)."
                            {% if nightlight %}
                                value="off"
                            {% else %}
                                value="on"
                            {% end %}
                        >
                    </p>
                </form>
            </div>
        </div>
    </div>
    <script>
        var picker = document.getElementById('colorpicker');
        var red = document.getElementById('color_red');
        var grn = document.getElementById('color_grn');
        var blue = document.getElementById('color_blue');

        picker.addEventListener('change', function (e) {
            var rgbColor = e.target.value;
            var color_array = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(rgbColor)
            red.value = parseInt(color_array[1],16);
            grn.value = parseInt(color_array[2],16);
            blue.value = parseInt(color_array[3],16);
        });

        function update_color(e) {
            //get components of color
            var r = parseInt(red.value)
            var g = parseInt(grn.value)
            var b = parseInt(blue.value)
            //get color from components
            var color = "#" + ((1 << 24) + (b << 16) + (g << 8) + r).toString(16).slice(1);
            //set value from components
            picker.value = color
        }
        red.addEventListener('change', update_color);
        grn.addEventListener('change', update_color);
        blue.addEventListener('change', update_color);

    </script>
    <script>
            var range = document.getElementById('brightness');
            var output = document.getElementById('brightness_num');
            //set initial value
            output.value = range.value;

            range.addEventListener('input', function (e) {
              output.value = e.target.value;
            });
    </script>
</body>
