<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A webpage to controle a LED rocket">
    <title>Night Knight Control - Brightness</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css">
</head>
<body>
    <div class="container">
        {% include menu.html %}
        <div id="content" class="center">
            <div id="header">
                <img class="header-img" src="{{ static_url("NK.png") }}" alt="Night Knight">
            </div>
            <div>
                <form action="/pattern.html" method="POST">
                    <label for="pattern">Pattern :</label>
                    <select name="pattern" id="pat">
                        {% for p in patterns %}
                        <option value="{{p}}"
                                {% if p==pat %}
                                selected=True
                                {% end %}
                                >{{p}}</option>
                        {% end %}
                    </select><br>

                    <label for="setNC">Use nosecone for pattern </label>
                    <input name="setNC" type="checkbox" value="NC"><br><br>

                    <label for="color">Color : </label>
                    <input name="color" type="color" id="colorpicker" onchange="clickColor(0, -1, -1, 5)" value="#{{bytearray(color).hex()}}"><br><br>

                    <label for="brt">Brightness :</label>
                    <input name="brt" type="range" min="0" max="31" value="{{brightness}}" class="slider" id="brightness"><br><br>

                    <label for="val">Value :</label>
                    <input type="number" name="val" value="{{value}}"><br><br>

                    <label for="clist">Color List :</label>
                    <select name="clist" id="clist">
                        {% for l in clists %}
                        <option value="{{l}}"
                                {% if l==currentlst %}
                                selected=True
                                {% end %}
                                >{{l}}</option>
                        {% end %}
                    </select><br><br>
                    <input type="submit" value="Submit">
                </form>
                <br>
                <form action="/nightlight" method="POST">
                    <input type="hidden" name="redirect" value="/pattern.html" /> 
                    <label for='value'>Night Light mode </label>
                    <input type="submit" name='value'
                        {% if nightlight %}
                            value="off"
                        {% else %}
                            value="on"
                        {% end %}
                    >
                </form>
            </div>
        </div>
    </div>
</body>
