<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A webpage to controle a LED rocket">
    <title>Night Knight Control - Brightness</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css">
</head>
<body>
    <div class="container">
        {% include menu.html %}
        <div id="content" class="center">
            <div id="header">
                <img class="header-img" src="{{ static_url("NK.png") }}" alt="Night Knight">
            </div>
            <div>
                {% if r_error is not None %}
                    <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            Error reading status : {{ r_error }}
                        </div> 
                {% end %}
                {% if w_error is not None %}
                    <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            Error sending reset command : {{ w_error }}
                        </div> 
                {% end %}
                {% if panic is not None %}
                    <div class="panic">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            {{ panic }}
                        </div> 
                {% end %}
                <p>
                    Number of resets Since power on : {{rst_num}}
                </p>
                <p>
                    Last reset reason : {{rst_reason}}
                </p>

                <form action="/resets.html" method="POST">
                    <p>
                        <button type="submit" name="reset_type" value="POR">Power on Reset</button>
                    </p>
                    <p>
                        <button type="submit" name="reset_type" value="PUC">Power up Clear</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</body>
