<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A webpage to controle a LED rocket">
    <title>Night Knight Control - Brightness</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css">
</head>
<body>
    <div class="container">
        {% include menu.html %}
        <div id="content" class="center">
            <div id="header">
                <img class="header-img" src="{{ static_url("NK.png") }}" alt="Night Knight">
            </div>
            <div>
                <p>
                    Number of resets Since power on : {{rst_num}}
                </p>
                <p>
                    Last reset reason : {{rst_reason}}
                </p>
                {% if panic %}
                <p class="panic">
                    Rocket is panicking! Panic pattern : {{pat}}
                </p>
                {% end %}

                <form action="/resets.html" method="POST">
                    <p>
                        <button type="submit" name="reset_type" value="POR">Power on Reset</button>
                    </p>
                    <p>
                        <button type="submit" name="reset_type" value="PUC">Power up Clear</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</body>
