<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A webpage to controle a LED rocket">
    <title>Night Knight Control</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css">
</head>
<body>
    <div class="container">
        <div id="actions" class="left">
            {% for page in pages %}
            <div class="menu"><a href="{{page}}.html" class="cmd">{{page}}</a></div>
            {% end %}
        </div>
        <div id="content" class="center">
            <div id="header">
                <img class="header-img" src="{{ static_url("NK.png") }}" alt="Night Knight">
            </div>
            <div>
                <table class="data">
                    <tr>
                        <td colspan="3" class="heading">
                            <h2>System Info</h2>
                        </td>
                    </tr>
                    <tr class="info"><td>Uptime</td><td>:</td><td>{{uptime}}</td><tr>
                    <tr class="info"><td>System</td><td>:</td><td> {{system}}</td><tr>
                    <tr class="info"><td>{{py_impl}} version</td><td>:</td><td>{{py_ver}}</td><tr>

                    <tr>
                        <td colspan="3" class="heading">
                            <h2>Disk Info</h2>
                        </td>
                    </tr>
                    <tr class="info"><td>Size</td><td>:</td><td>{{disk_size}}</td></tr>
                    <tr class="info"><td>Used</td><td>:</td><td>{{disk_used}}</td></tr>

                    <tr>
                        <td colspan="3" class="heading">
                            <h2>CPU Info</h2>
                        </td>
                    </tr>
                    <tr class="info"><td>Machine</td><td>:</td><td> {{machine}}</td></tr>
                    <tr class="info"><td>Total RAM </td><td>:</td><td>{{ram_size}}</td></tr>
                    <tr class="info"><td>Used RAM </td><td>: </td><td>{{ram_used}}</td></tr>
                    <tr class="info"><td>CPU frequency </td><td>:</td><td>{{cpu_freq}}</td></tr>
                    <tr class="info"><td>Load average (1 min)</td><td>:</td><td>{{load_avg[0]}}&nbsp;%</td></tr>
                    <tr class="info"><td>Load average (5 min)</td><td>:</td><td>{{load_avg[1]}}&nbsp;%</td></tr>
                    <tr class="info"><td>Load average (15 min)</td><td>:</td><td>{{load_avg[2]}}&nbsp;%</td></tr>
                </table>
            </div>
        </div>
    </div>
</body>
