<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A webpage to controle a LED rocket">
    <title>Night Knight Control - Brightness</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css">
</head>
<body>
    <div class="container">
        {% include menu.html %}
        <div id="content" class="center">
            <div id="header">
                <img class="header-img" src="{{ static_url("NK.png") }}" alt="Night Knight">
            </div>
            {% for sn,s in (('RAM',ram_set),('Flash',flash_set)) %}
                <div>
                <h1>{{sn + ' Settings'}}</h1>
                {% for n,v in s.items() %}
                    {% if n =='color' %}
                        color : {{v[1]}} <br><br>
                        brightness : {{v[0]}} <br><br>
                    {% elif n == 'flash valid' %}
                        {% if not flash_set['flash valid'] %}
                            <!-- make this red or bold or something -->
                            Flash settings are invalid!<br><br>
                        {% end %}
                    {% elif n == 'type' %}
                        <!-- don't print 'type' -->
                    {% else %}
                        {{n}} : {{v}} <br><br>
                    {% end %}
                {% end %}
                </div>
            {% end %}
            <div>
                <form action="/settings.html" method="POST">
                    <input type="submit" name=action value='save'> <br><br>
                    <input type="submit" name=action value='clear'> 
                </form>
            </div>
        </div>
    </div>
</body>
